<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmm6MtXgKblboOy0XJ3a2oegFrbgJBI8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>385629703208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uricsc305.squadup</string>
	<key>PROJECT_ID</key>
	<string>squad-up-anxjyd</string>
	<key>STORAGE_BUCKET</key>
	<string>squad-up-anxjyd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385629703208:ios:7cbf6761b4625e2d5f791d</string>
</dict>
</plist>